@charset "UTF-8";
/*
 Theme Name:  Yam Theme Villamares
 Theme URI: yam.pe
 Description: Tema de Villamares Personalizado
 Author: Yam Consulting
 Template: Divi
 Version: 1.0.0
 Tags: light,
 Text Domain:  Yam Theme
 */
@import url("fonts/elegant_font/icons.css");
/*----------------------------------------------*/
/*-----Slide-In Menu from Left by Divi Soup-----*/
/*----------------------------------------------*/
/*Move the hamburger menu to the left*/
#et-top-navigation {
  float: left;
  padding-left: 0 !important; }

  .mobile_menu_bar:after {
      content: 'Menu';
      float: right;
      position: absolute;
      padding-top: 15px;
      padding-left: 10px;
  }

/*Move the menu to the left when open*/
.et_pb_slide_menu_active header#main-header,
.et_pb_slide_menu_active #page-container {
  /*left: 320px !important;*/ }

.et_pb_slide_menu_active .et_slide_in_menu_container.et_pb_slide_menu_opened {
  right: auto !important;
  left: 0 !important; }

/*Hide the screen overflow*/
body.et_pb_slide_menu_active {
  overflow-x: hidden !important; }

/*Switch the slide-in animation from right to left*/
.et_slide_in_menu_container {
  /*left: -320px;*/
  -webkit-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1), margin-top 0.4s ease-in-out !important;
  -moz-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1), margin-top 0.4s ease-in-out !important;
  transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1), margin-top 0.4s ease-in-out !important; }

/*
.et_slide_menu_top {
    display: block !important;
    } */
/*----------------------------------------------*/
/*-----Slide-In Menu from Left by Divi Soup-----*/
/*----------------------------------------------*/
/*Move the hamburger menu to the left*/
@media only screen and (min-width: 981px) {
  #et-top-navigation {
    float: left;
    padding-left: 0 !important; }

  /*Move the menu to the left when open*/
  .et_pb_slide_menu_active header#main-header,
  .et_pb_slide_menu_active #page-container {
    /*left: 320px !important;**/ }

  .et_pb_slide_menu_active .et_slide_in_menu_container.et_pb_slide_menu_opened {
    right: auto !important;
    left: 0 !important; }

  /*Hide the screen overflow*/
  body.et_pb_slide_menu_active {
    overflow-x: hidden !important; }

  /*Move the logo to the right of the screen*/
  #logo {
    /** float: right; **/ }

  /*Switch the slide-in animation from right to left*/
  .et_slide_in_menu_container {
    /*left: -320px;*/
    -webkit-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1), margin-top 0.4s ease-in-out !important;
    -moz-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1), margin-top 0.4s ease-in-out !important;
    transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1), margin-top 0.4s ease-in-out !important; } }

@media only screen and (max-width: 468px) {
  .mobile_menu_bar:after {
      display: none !important;
  }
}


.et_header_style_left .logo_container {
  text-align: center; }

.ipt_uif_thumbselect_wrap.ipt-eform-thumbselect-border input[type=radio]+label:hover img {
      background: #d6d6d8 !important; }
.ipt_uif_thumbselect_wrap.ipt-eform-thumbselect-border input[type=radio]:checked+label img{
    background: #d6d6d8 !important;
    border-radius: 100px !important;
    padding: 5px; }
/*----------------------------------------------*/
/*---End Slide-In Menu from Left by Divi Soup---*/
/*----------------------------------------------*/
/** formularios **/
/** Portada**/
#ipt_fsqm_form_55_layout_0_inner .ipt_uif_thumbselect_wrap.ipt_uif_label_column.ipt-eform-thumbselect-border {
  width: 49% !important; }

#ipt_fsqm_form_55_layout_0_inner .thumbselect-img-wrapper {
  width: 66px !important;
  float: left;
  /**display: inline-block !important;
  float: left !important; **/ }

#ipt_fsqm_form_55_layout_0_inner h5.ui-widget-header {
  width: 52% !important;
  /** display: inline-block !important;
  float: left;**/
  border: 0 !important;
  text-align: left !important;
  padding-top: 0px !important;
  margin-top: 11px !important;
  margin-left: 10px;
  font-size: 1.2em; }

#ipt_fsqm_form_55_layout_0_inner .thumbselect-img-wrapper,
#ipt_fsqm_form_55_layout_0_inner h5.ui-widget-header {
  display: inline-block !important; }

#ipt_fsqm_form_55_layout_0_inner img.ui-widget-content {
  float: left;
  border: 0 !important;
  width: 120px !important;
  max-height: initial !important; }

.et_pb_widget  ul.children li:before {
    content: '> ';
    color: '#297ABB';
}

#ipt_fsqm_form_55_layout_0_inner h2.ipt_uif_heading.ipt_uif_divider.ipt_uif_align_left.ipt_uif_divider_no_icon {
  padding: 0;
  margin: 0;
  font-size: 2em;
  color: #7D7D7D; }

button#ipt_fsqm_form_55_button_submit {
  padding: 10px 15px 10px 15px;
  border-radius: 3px; }

#ipt_fsqm_form_55_layout_0_inner label {
  display: initial !important; }

/** formulario constituci├│n portada **/
#ipt_fsqm_form_54_layout_0_inner span.ipt_uif_divider_text_inner {
  color: #E64F5B; }

#ipt_fsqm_form_54_layout_0_inner h3.ipt_uif_heading.ipt_uif_divider.ipt_uif_align_left.ipt_uif_divider_no_icon.ipt_uif_divider_has_scroll {
  padding-bottom: 0;
  margin-bottom: 0; }

#ipt_fsqm_form_54_layout_0_inner .ipt_uif_column_inner {
  border: 0px !important;
  padding-left: 0 !important; }

button#ipt_fsqm_form_54_button_submit {
  background-color: #E64F5B;
  padding: 10px 20px 11px 20px; }

/** bloque monica **/
.monica .et_pb_blurb_container {
  background: #014B94;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 20px;
  margin-top: -70px;
  margin-left: -25%;
  width: 150%; }

/* ocultar twitts **/
p.rtw_meta {
  display: none; }

/** ocultar en posts de portada */
.ultimos_posts .posts_portada h2 {
  font-size: 1em !important;
  padding: 0 !important; }
.ultimos_posts .posts_portada .post-meta {
  padding-left: 0px !important; }
.ultimos_posts .posts_portada .post-content {
  display: none; }
.ultimos_posts .posts_portada a.entry-featured-image-url {
  margin-bottom: 15px !important; }

/** temporal **/
.item_curso h6.et_pb_module_header {
  padding: 0px 10px 20px 20px;
  font-size: 13px;
  color: #7F7F7F !important; }

.item_curso .link_pagar a {
  color: #12AE93; }

.item_curso .link_pagar .icon_creditcard, .item_curso .icon_calendar {
  margin-right: 5px;
  font-size: 1em; }

.item_curso .info_fecha {
  text-align: left; }

.item_curso .link_pagar {
  text-align: right; }

.item_columna_curso.et_pb_column.et_pb_column_1_3 {
  margin-right: 3.5% !important;
  margin-bottom: 30px; }

.item_curso.et_pb_blurb {
  background-color: #ffffff; }

.item_curso {
  box-shadow: 0px 2px 18px -1px rgba(0, 0, 0, 0.3); }

/** en detalle de curso **/
.fecha_curso .et_pb_pricing_table, .precio_curso .et_pb_pricing_table {
  padding-top: 0 !important; }

.fecha_curso .et_pb_pricing_table {
  padding-bottom: 15px !important; }

.medio_pago .et_pb_button {
  background-color: #12AE93;
  border-width: 0px !important;
  font-size: 16px !important; }

.medio_pago .et_pb_button:hover {
  background-color: #12AE93; }

/**blog **/
.et_pb_post {
  box-shadow: 0px 2px 18px -1px rgba(0, 0, 0, 0.3);
  background-color: #ffffff; }

.et_pb_post .entry-title {
  font-size: 35px; margin-top: 10px !important;}

.et_pb_post .entry-content, .post-content, .et_pb_post .entry-title, .et_pb_post .post-meta {
  padding: 20px 20px 10px 20px; }

.et_pb_post .post-meta {
  padding: 10px 20px 0px 20px !important; }

.post-content {
  padding: 5px 20px 20px 20px !important; }

#comment-wrap {
  padding: 20px 20px 20px 20px;
  box-shadow: 0px 2px 18px -1px rgba(0, 0, 0, 0.3); }

.et_pb_post .post-meta .author:before {
  content: "\e08a";
  font-family: 'ElegantIcons';
  color: #318EC3;
  margin-right: 5px; }

.et_pb_post .post-meta .published:before {
  content: "\e023";
  font-family: 'ElegantIcons';
  color: #318EC3;
  margin-right: 5px; }

.imagen_destacada img, .meta_destacada img {
  width: 100%; }

a.tag-cloud-link {
  background-color: #9FD0F8;
  color: #fff !important;
  font-size: 1.1em !important; }

.widget_recent_entries li {
  border-bottom: #cccccc 1px solid; }

.et_pb_bg_layout_light .et_pb_widget li a:hover {
  color: #0C74BB !important; }

.widget_recent_entries a:hover {
  color: #0C74BB !important; }

li.cat-item {
  border-bottom: 0px !important; }

li.cat-item a:hover {
  border-left: 5px solid #0C74BB !important;
  padding-left: 5px;
  font-weight: 500;
  color: #0C74BB !important; }

/** comentarios **/
.et_post_meta_wrapper h1 {
  font-size: 1em;
  padding-bottom: 20px; }

.comment-respond .submit.et_pb_button {
  background: #12AE93;
  border-radius: 5px; }

.reply-container a.comment-reply-link.et_pb_button {
  color: #ccc;
  padding: 0px 10px 0px 10px; }

.comment-body.clearfix {
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
  margin-bottom: 30px; }

.sidebar_blog {
  border-right: 0px; }

.author_bio {
  background: #0A67B1;
  padding: 2%;
  color: #ffffff;
  width: 100%;
  margin-bottom: -25px;
  margin-top: 20px; }

.author_bio .foto_perfil {
  width: 20%;
  float: left;
  text-align: right; }

.author_bio .datos_autor {
  width: 80%;
  float: right;
  padding-right: 10px;
  padding-left: 20px; }

.author_bio .datos_autor h3 {
  color: #ffffff; }

/*------------------------------------------------*/
/*--------------[GQ CATEGORY TITLES]--------------*/
/*------------------------------------------------*/
.blog-title {
  margin-bottom: 60px; }

hr.archive-line {
  width: 25%;
  float: left;
  border: 0;
  height: 4px;
  background-color: #2ea3f2; }

/** formulario de constituci├│n #ipt_fsqm_form_wrap_56 **/
span.ipt_uif_divider_text_inner {
  font-size: 0.7em; }

.ipt_uif_column_inner {
  padding: 0 !important; }

.ipt_uif_column_inner h2 {
  padding-bottom: 5px; }

#ipt_fsqm_form_56 {
  padding: 0 !important;
  margin: 0 !important; }
  #ipt_fsqm_form_56 ul.ui-tabs-nav {
    background: transparent; }
  #ipt_fsqm_form_56 .ipt_uif_column {
    padding-bottom: 5px !important;
    margin-bottom: 10px !important; }
  #ipt_fsqm_form_56 .eform-styled-container .ipt_uif_container_head {
    background: #946EBF; }
    #ipt_fsqm_form_56 .eform-styled-container .ipt_uif_container_head h3 {
      color: #ffffff; }
  #ipt_fsqm_form_56 .ipt-eform-tab-nav-wrap.scroll-not-needed {
    background: #35145F !important; }
  #ipt_fsqm_form_56 .ipt-eform-repeatable-container {
    margin: 0 !important; }
    #ipt_fsqm_form_56 .ipt-eform-repeatable-container .ipt_uif_container_head {
      display: none !important; }
    #ipt_fsqm_form_56 .ipt-eform-repeatable-container .ipt_uif_container_inner {
      padding-top: 0 !important; }
  #ipt_fsqm_form_56 .ipt-eform-repeatable-container {
    padding: 0 !important; }
    #ipt_fsqm_form_56 .ipt-eform-repeatable-container .eform-repeatable-qcontainer .ipt_uif_question_label {
      padding: 0 !important;
      margin-bottom: 0 !important; }
    #ipt_fsqm_form_56 .ipt-eform-repeatable-container .ipt_uif_sda_body.eform-sda-has-toolbar {
      padding: 0 !important; }
    #ipt_fsqm_form_56 .ipt-eform-repeatable-container .ipt_uif_sda_elem {
      padding: 9px !important;
      background-color: #F9F9FA; }
    #ipt_fsqm_form_56 .ipt-eform-repeatable-container .eform-button-container-inner {
      text-align: right; }
    #ipt_fsqm_form_56 .ipt-eform-repeatable-container .ipt_uif_button {
      background-color: #946EBF;
      color: #ffffff;
      border-radius: 100px;
      font-size: 1em; }
    #ipt_fsqm_form_56 .ipt-eform-repeatable-container i {
      font-size: 1.5em !important; text-align: right; }
    #ipt_fsqm_form_56 .ipt-eform-repeatable-container input {
    /**height: 2em !important;**/ }
  #ipt_fsqm_form_56 .ipt_uif_button {
    /** background: #E74F5C !important; **/ }

#ipt_fsqm_form_52 .ipt-eform-layout-wrapper .ipt_fsqm_main_heading {
  font-size: 3em;
  color: #34145E;
  font-weight: bolder !important; }
#ipt_fsqm_form_52 div#ipt_fsqm_form_52_design_2 {
  background: #946EBF;
  padding: 15px 20px 0 17px !important;
  margin: -2px 0 20px -21px !important;
  width: 110%; }
  #ipt_fsqm_form_52 div#ipt_fsqm_form_52_design_2 .ipt_uif_column_inner {
    border-bottom: 0px !important; }
  #ipt_fsqm_form_52 div#ipt_fsqm_form_52_design_2 h3 {
    color: #ffffff; }

#ipt_fsqm_form_wrap_59 .ipt_uif_button {
  background: #12AE93;
  border-radius: 3px;
  padding: 10px 20px 10px 20px; }
#ipt_fsqm_form_wrap_59 .ipt_uif_button:hover {
  background: #00987D; }

.listado_videos h2.entry-title {
  padding: 0 !important;
  font-size: 1em !important; }
.listado_videos .post-content {
  display: none; }
.listado_videos .et_pb_post {
  margin-bottom: 40px !important; }

.formulario_curso {
  padding: 30px 25px 40px 25px !important; }
  .formulario_curso .et_pb_text.et_pb_module.et_pb_bg_layout_light.et_pb_text_align_left.et_pb_text_0 {
    margin-bottom: 40px !important;
    margin-left: 0 !important; }
  .formulario_curso .et_pb_text_inner h3 {
    color: #12AE93; }
  .formulario_curso .ipt_uif_button {
    background-color: #12AE93;
    border-radius: 5px; }

/** menu **/
/*Menu CTA Button*/
#et-top-navigation .et_pb_button {
  margin-top: 0px;
  font-size: inherit;
  font-weight: inherit; }

#et-top-navigation .et_pb_button:after {
  font-size: 23px; }

.et_right_callto {
  float: right !important;
  margin-right: -20px;
  margin-top: -16px !important; }
  .et_right_callto a {
    color: #ffffff !important; }
  .et_right_callto span.et_pb_more_button.et_pb_button {
    font-size: 14px;
    border: none; }

.et_slide_in_menu_container.et_pb_fullscreen_menu_opened.et_pb_fullscreen_menu_animated {
  padding-top: 20px !important; }

.et_mobile_menu ul.sub-menu a {
  font-size: 1em !important;
  padding: 0 !important;
  border-bottom: 2px solid #cccccc !important; }

/* Responsive Styles Smartphone Only */
@media all and (max-width: 769px) {
  /** bloque monica **/
  .monica .et_pb_blurb_container {
    margin-left: 0 !important;
    width: 100% !important; }

  .et_right_callto {
    margin-right: -60px;
    margin-top: 0px !important; }
    .et_right_callto span.item_call {
      display: none; }
    .et_right_callto .icon_phone {
      display: none; }
    .et_right_callto img {
      display: none; }
    .et_right_callto span.et_pb_more_button.et_pb_button {
      margin-top: 0 !important; }
    .et_right_callto span.et_pb_more_button.et_pb_button:after {
      display: none !important; } }
/* Responsive Styles Smartphone Portrait */
@media all and (max-width: 479px) {
  #ipt_fsqm_form_55_layout_0_inner .ipt_uif_thumbselect_wrap.ipt_uif_label_column.ipt-eform-thumbselect-border {
    width: 100% !important; }

  .author_bio .foto_perfil, .author_bio .datos_autor {
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0px; }

  .et_pb_post .entry-title {
    font-size: 28px; }

  .et_pb_filterable_portfolio.et_pb_text_align_center .et_pb_portfolio_filters ul {
    display: inline-block !important; }

  .et_right_callto {
    margin-right: -10px; }
    .et_right_callto .icon_mail {
      font-size: 1.6em; } }

      /** agregados **/
      ul.et_post_gallery.clearfix {
        padding: 20px !important;
      }
/** .et_pb_blurb_10 .et-pb-icon{font-size:56px}.et_pb_blurb_10.et_pb_blurb{font-weight:800;font-size:20px}div.et_pb_section.et_pb_section_7{background-size:contain;background-position:bottom center;background-image:url(http://codeandoconx/villamares/wp-content/uploads/2017/12/footer-imagen-villamares.png)!important}.et_pb_section_7{border-bottom-width:30px;border-bottom-color:#0A67B1}.et_pb_row_8.et_pb_row{padding-top:58px;padding-right:0px;padding-bottom:103px;padding-left:0px}.et_pb_section_7.et_pb_section{background-color:#ffffff!important}.et_pb_blurb_10.et_pb_blurb h4,.et_pb_blurb_10.et_pb_blurb h4 a,.et_pb_blurb_10.et_pb_blurb h1.et_pb_module_header,.et_pb_blurb_10.et_pb_blurb h1.et_pb_module_header a,.et_pb_blurb_10.et_pb_blurb h2.et_pb_module_header,.et_pb_blurb_10.et_pb_blurb h2.et_pb_module_header a,.et_pb_blurb_10.et_pb_blurb h3.et_pb_module_header,.et_pb_blurb_10.et_pb_blurb h3.et_pb_module_header a,.et_pb_blurb_10.et_pb_blurb h5.et_pb_module_header,.et_pb_blurb_10.et_pb_blurb h5.et_pb_module_header a,.et_pb_blurb_10.et_pb_blurb h6.et_pb_module_header,.et_pb_blurb_10.et_pb_blurb h6.et_pb_module_header a{font-weight:800;font-size:16px}.et_pb_blurb_9.et_pb_blurb .et_pb_main_blurb_image{width:70px!important}.et_pb_section_5{padding-bottom:0px}.et_pb_blurb_7 .et-pb-icon{font-size:11px}.et_pb_section_6{padding-bottom:0px}.et_pb_row_7{max-width:50%!important;width:50%}.et_pb_blurb_9.et_pb_blurb{font-weight:800;font-size:20px}.et_pb_blurb_9.et_pb_blurb h4,.et_pb_blurb_9.et_pb_blurb h4 a,.et_pb_blurb_9.et_pb_blurb h1.et_pb_module_header,.et_pb_blurb_9.et_pb_blurb h1.et_pb_module_header a,.et_pb_blurb_9.et_pb_blurb h2.et_pb_module_header,.et_pb_blurb_9.et_pb_blurb h2.et_pb_module_header a,.et_pb_blurb_9.et_pb_blurb h3.et_pb_module_header,.et_pb_blurb_9.et_pb_blurb h3.et_pb_module_header a,.et_pb_blurb_9.et_pb_blurb h5.et_pb_module_header,.et_pb_blurb_9.et_pb_blurb h5.et_pb_module_header a,.et_pb_blurb_9.et_pb_blurb h6.et_pb_module_header,.et_pb_blurb_9.et_pb_blurb h6.et_pb_module_header a{color:#0F9D58!important}.et_pb_section_8{padding-bottom:20px}.et_pb_section_8.et_pb_section{background-color:#F5F5F7!important}.et_pb_text_7 h3{font-size:18px;color:#4A4A4A!important;line-height:1.9em}.et_pb_text_7 h1{line-height:1.9em}.et_pb_image_1{margin-left:0}ul.et_pb_social_media_follow_0 a.icon{border-radius:50px 50px 50px 50px}.et_pb_text_8{margin-bottom:0px!important}.et_pb_text_8 h3{font-size:16px;color:#4A4A4A!important;line-height:1.4em}.et_pb_text_6 h3{font-size:19px;color:#4A4A4A!important;line-height:1.9em}.et_pb_text_6{line-height:2.5em}.et_pb_text_4 h3{font-weight:800;font-size:35px;color:#494949!important}.et_pb_row_9.et_pb_row{padding-top:0px;padding-bottom:10px}.et_pb_image_0{margin-left:0}.et_pb_text_5 p{line-height:2.5em}.et_pb_text_6 p{line-height:2.5em}.et_pb_text_5{line-height:2.5em}.et_pb_section_0.et_pb_section{background-color:#0c71c3!important}.et_pb_blurb_7.et_pb_blurb h4,.et_pb_blurb_7.et_pb_blurb h4 a,.et_pb_blurb_7.et_pb_blurb h1.et_pb_module_header,.et_pb_blurb_7.et_pb_blurb h1.et_pb_module_header a,.et_pb_blurb_7.et_pb_blurb h2.et_pb_module_header,.et_pb_blurb_7.et_pb_blurb h2.et_pb_module_header a,.et_pb_blurb_7.et_pb_blurb h3.et_pb_module_header,.et_pb_blurb_7.et_pb_blurb h3.et_pb_module_header a,.et_pb_blurb_7.et_pb_blurb h5.et_pb_module_header,.et_pb_blurb_7.et_pb_blurb h5.et_pb_module_header a,.et_pb_blurb_7.et_pb_blurb h6.et_pb_module_header,.et_pb_blurb_7.et_pb_blurb h6.et_pb_module_header a{color:#494949!important}.et_pb_blurb_1.et_pb_blurb .et_pb_main_blurb_image{margin-top:-20px;margin-bottom:-100px}.et_pb_blurb_1.et_pb_blurb{font-size:19px;line-height:1.4em}.et_pb_blurb_1.et_pb_blurb h4{margin-top:-20px!important}.et_pb_section_1.et_pb_section{background-color:#F4F4F6!important}.et_pb_blurb_2.et_pb_blurb{background-color:#ffffff}.et_pb_blurb_2.et_pb_blurb h4,.et_pb_blurb_2.et_pb_blurb h4 a,.et_pb_blurb_2.et_pb_blurb h1.et_pb_module_header,.et_pb_blurb_2.et_pb_blurb h1.et_pb_module_header a,.et_pb_blurb_2.et_pb_blurb h2.et_pb_module_header,.et_pb_blurb_2.et_pb_blurb h2.et_pb_module_header a,.et_pb_blurb_2.et_pb_blurb h3.et_pb_module_header,.et_pb_blurb_2.et_pb_blurb h3.et_pb_module_header a,.et_pb_blurb_2.et_pb_blurb h5.et_pb_module_header,.et_pb_blurb_2.et_pb_blurb h5.et_pb_module_header a,.et_pb_blurb_2.et_pb_blurb h6.et_pb_module_header,.et_pb_blurb_2.et_pb_blurb h6.et_pb_module_header a{font-size:13px;color:#7F7F7F!important}.et_pb_blurb_1.et_pb_blurb p{line-height:1.4em}.et_pb_blurb_1.et_pb_blurb h4,.et_pb_blurb_1.et_pb_blurb h4 a,.et_pb_blurb_1.et_pb_blurb h1.et_pb_module_header,.et_pb_blurb_1.et_pb_blurb h1.et_pb_module_header a,.et_pb_blurb_1.et_pb_blurb h2.et_pb_module_header,.et_pb_blurb_1.et_pb_blurb h2.et_pb_module_header a,.et_pb_blurb_1.et_pb_blurb h3.et_pb_module_header,.et_pb_blurb_1.et_pb_blurb h3.et_pb_module_header a,.et_pb_blurb_1.et_pb_blurb h5.et_pb_module_header,.et_pb_blurb_1.et_pb_blurb h5.et_pb_module_header a,.et_pb_blurb_1.et_pb_blurb h6.et_pb_module_header,.et_pb_blurb_1.et_pb_blurb h6.et_pb_module_header a{font-weight:800;font-size:40px;text-align:center}.et_pb_blurb_0.et_pb_blurb h4,.et_pb_blurb_0.et_pb_blurb h4 a,.et_pb_blurb_0.et_pb_blurb h1.et_pb_module_header,.et_pb_blurb_0.et_pb_blurb h1.et_pb_module_header a,.et_pb_blurb_0.et_pb_blurb h2.et_pb_module_header,.et_pb_blurb_0.et_pb_blurb h2.et_pb_module_header a,.et_pb_blurb_0.et_pb_blurb h3.et_pb_module_header,.et_pb_blurb_0.et_pb_blurb h3.et_pb_module_header a,.et_pb_blurb_0.et_pb_blurb h5.et_pb_module_header,.et_pb_blurb_0.et_pb_blurb h5.et_pb_module_header a,.et_pb_blurb_0.et_pb_blurb h6.et_pb_module_header,.et_pb_blurb_0.et_pb_blurb h6.et_pb_module_header a{font-weight:800;font-size:40px;text-align:center}.et_pb_row_0.et_pb_row{padding-bottom:60px}.et_pb_blurb_0.et_pb_blurb p{line-height:1.4em}.et_pb_blurb_0.et_pb_blurb{font-size:19px;line-height:1.4em}.et_pb_blurb_0 .et-pb-icon{font-size:180px}.et_pb_blurb_0.et_pb_blurb .et_pb_blurb_content{margin-top:-60px;margin-bottom:-100px}.et_pb_blurb_6 .et-pb-icon{font-size:11px}.et_pb_blurb_2{box-shadow:0px 2px 18px -1px rgba(0,0,0,0.3)}.et_pb_text_1 h2{color:#4A4A48!important}.et_pb_text_1{font-weight:600}.et_pb_text_2{font-weight:700}.et_pb_blurb_5.et_pb_blurb h4,.et_pb_blurb_5.et_pb_blurb h4 a,.et_pb_blurb_5.et_pb_blurb h1.et_pb_module_header,.et_pb_blurb_5.et_pb_blurb h1.et_pb_module_header a,.et_pb_blurb_5.et_pb_blurb h2.et_pb_module_header,.et_pb_blurb_5.et_pb_blurb h2.et_pb_module_header a,.et_pb_blurb_5.et_pb_blurb h3.et_pb_module_header,.et_pb_blurb_5.et_pb_blurb h3.et_pb_module_header a,.et_pb_blurb_5.et_pb_blurb h5.et_pb_module_header,.et_pb_blurb_5.et_pb_blurb h5.et_pb_module_header a,.et_pb_blurb_5.et_pb_blurb h6.et_pb_module_header,.et_pb_blurb_5.et_pb_blurb h6.et_pb_module_header a{color:#494949!important}.et_pb_blurb_6.et_pb_blurb h4,.et_pb_blurb_6.et_pb_blurb h4 a,.et_pb_blurb_6.et_pb_blurb h1.et_pb_module_header,.et_pb_blurb_6.et_pb_blurb h1.et_pb_module_header a,.et_pb_blurb_6.et_pb_blurb h2.et_pb_module_header,.et_pb_blurb_6.et_pb_blurb h2.et_pb_module_header a,.et_pb_blurb_6.et_pb_blurb h3.et_pb_module_header,.et_pb_blurb_6.et_pb_blurb h3.et_pb_module_header a,.et_pb_blurb_6.et_pb_blurb h5.et_pb_module_header,.et_pb_blurb_6.et_pb_blurb h5.et_pb_module_header a,.et_pb_blurb_6.et_pb_blurb h6.et_pb_module_header,.et_pb_blurb_6.et_pb_blurb h6.et_pb_module_header a{color:#494949!important}.et_pb_blurb_5 .et-pb-icon{font-size:11px}.et_pb_blurb_3.et_pb_blurb h4,.et_pb_blurb_3.et_pb_blurb h4 a,.et_pb_blurb_3.et_pb_blurb h1.et_pb_module_header,.et_pb_blurb_3.et_pb_blurb h1.et_pb_module_header a,.et_pb_blurb_3.et_pb_blurb h2.et_pb_module_header,.et_pb_blurb_3.et_pb_blurb h2.et_pb_module_header a,.et_pb_blurb_3.et_pb_blurb h3.et_pb_module_header,.et_pb_blurb_3.et_pb_blurb h3.et_pb_module_header a,.et_pb_blurb_3.et_pb_blurb h5.et_pb_module_header,.et_pb_blurb_3.et_pb_blurb h5.et_pb_module_header a,.et_pb_blurb_3.et_pb_blurb h6.et_pb_module_header,.et_pb_blurb_3.et_pb_blurb h6.et_pb_module_header a{font-size:13px;color:#7F7F7F!important}.et_pb_section_3.et_pb_section{background-color:#F4F4F6!important}.et_pb_blurb_3.et_pb_blurb{background-color:#ffffff}.et_pb_blurb_3{box-shadow:0px 2px 18px -1px rgba(0,0,0,0.3)}.et_pb_number_counter_0.et_pb_number_counter .percent p{font-weight:800;color:#548FDB!important}.et_pb_number_counter_0.et_pb_number_counter h3,.et_pb_number_counter_0.et_pb_number_counter h1.title,.et_pb_number_counter_0.et_pb_number_counter h2.title,.et_pb_number_counter_0.et_pb_number_counter h4.title,.et_pb_number_counter_0.et_pb_number_counter h5.title,.et_pb_number_counter_0.et_pb_number_counter h6.title{font-style:italic}.et_pb_blurb_4.et_pb_blurb h4,.et_pb_blurb_4.et_pb_blurb h4 a,.et_pb_blurb_4.et_pb_blurb h1.et_pb_module_header,.et_pb_blurb_4.et_pb_blurb h1.et_pb_module_header a,.et_pb_blurb_4.et_pb_blurb h2.et_pb_module_header,.et_pb_blurb_4.et_pb_blurb h2.et_pb_module_header a,.et_pb_blurb_4.et_pb_blurb h3.et_pb_module_header,.et_pb_blurb_4.et_pb_blurb h3.et_pb_module_header a,.et_pb_blurb_4.et_pb_blurb h5.et_pb_module_header,.et_pb_blurb_4.et_pb_blurb h5.et_pb_module_header a,.et_pb_blurb_4.et_pb_blurb h6.et_pb_module_header,.et_pb_blurb_4.et_pb_blurb h6.et_pb_module_header a{font-size:13px;color:#7F7F7F!important}.et_pb_social_media_follow_network_0 a.icon{background-color:#3b5998!important}.et_pb_social_media_follow_network_1 a.icon{background-color:#00aced!important}.et_pb_social_media_follow_network_2 a.icon{background-color:#a82400!important}@media only screen and (min-width:981px){.et_pb_image_1{max-width:90%}}@media only screen and (max-width:980px){.et_pb_section_7{padding-top:20px}.et_pb_image_0{max-width:70%}.et_pb_image_1{max-width:70%}.et_pb_section_6{margin-bottom:-50px}.et_pb_section_5{margin-bottom:-50px}.et_pb_blurb_3 .et_pb_blurb_content{max-width:800px}.et_pb_blurb_4 .et_pb_blurb_content{max-width:800px}.et_pb_blurb_2 .et_pb_blurb_content{max-width:800px}}@media only screen and (max-width:767px){.et_pb_image_1{max-width:60%}.et_pb_image_0{max-width:60%}.et_pb_section_7{padding-top:-20px;padding-bottom:0px}.et_pb_section_6{margin-bottom:-100px}.et_pb_section_5{margin-bottom:-100px}}**/

/*# sourceMappingURL=style.css.map */
