/**********************************

Use: Reset Styles for all browsers

***********************************/

body, p, blockquote {
	margin: 0;
	padding: 0;
}

a img, iframe { border: none; }

/* Headers
------------------------------*/

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

/* Lists
------------------------------*/

ul, ol, dl, li, dt, dd {
	margin: 0;
	padding: 0;
}

/* Links
------------------------------*/

a, a:link {}
a:visited {}
a:hover {}
a:active {}

/* Forms
------------------------------*/

form, fieldset {
	margin: 0;
	padding: 0;
}

fieldset { border: 1px solid #000; }

legend {
	padding: 0;
	color: #000;
}

input, textarea, select {
	margin: 0;
	padding: 1px;
	font-size: 100%;
	font-family: inherit;
}

select { padding: 0; }
